<div class="container_menu-search">
  <h1>OTTO</h1>
  <div class="menu-bar__links">
    <ul>
      <li><a href="https://github.com/ottoinspace"><img src="../../assets/github-icon.png" alt=""></a></li>
      <li><a href="https://www.linkedin.com/in/arnoldo-bepi/"><img src="../../assets/linkedin-icon.png" alt=""></a></li>
      <li><a href="https://www.instagram.com/cosmicfox_dev/"><img src="../../assets/instagram-icon.png" alt=""></a></li>
    </ul>
  </div>
  <div class="menu-img">
    <img src="../../assets/Logo.png" alt="logo cosmicfox">
  </div>
</div>
