.container_menu-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: auto;
  padding: 10px;
}

.container_menu-search > h1{
  color: #e4187e;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-img > img {
  width: auto;
  height: 50px;
}

.menu-bar__links {
  width: 350px;
}

.menu-bar__links > ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  justify-content: space-evenly;
}

.menu-bar__links > ul > li > a > img {
  width: 40px;
  height: auto;
  transition: transform 0.2s ease;
}

.menu-bar__links > ul > li :hover {
  transform: scale(1.2);
}
