<div class="container__big-card">
  <div class="big-card__photo-content">
    <div class="big-card__title">
      <h1>Who is Otto?</h1>
      <h2>A little fox who travels around the galaxy!!</h2>
    </div>
    <section>
      <div class="big-card__description">
        <p>I'm a passionate software engineer residing in Brazil, dedicated to making a difference. With unwavering determination, I aspire to support Brazilian game developers in claiming their space within the global game development industry, all while crafting remarkable Brazilian games</p>
      </div>
      <div class="big-card__photo">
        <img src="../../assets/little-fox.svg" alt="">
      </div>
    </section>
  </div>
  <div class="big-card_read-more">
    <button type="submit">Read more ...</button>
  </div>
</div>
