<div class="container__long-card">
  <a href="#">
    <div class="long-card__photo">
      <img src="../../assets/code-fox.svg" alt="code fox">
    </div>
    <div class="long-card__content">
      <div class="long-card__title">
        <h1>APIRest</h1>
      </div>
      <div class="long-card__description">
        <p>Introducing NodeAPI: The Ultimate Student Management Tool. With this powerful API, you can effortlessly create and delete student profiles, while adding vibrant photos to bring their stories to life. Streamline your student database with ease and efficiency</p>
      </div>
    </div>
  </a>
</div>
