<div class="container__small-card">
  <div class="small-card__title">
    <h1>Chill and Listen!!</h1>
  </div>

  <section>
    <div class="small-card__photo">
      <img src="../../assets/little-fox_music.svg" alt="">
    </div>

    <div class="small-card__audio">
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1DWWQRwui0ExPn?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
  </section>

</div>

