.container__home {
  display: flex;
  flex-direction: row;
}

.articles {
padding: 30px;
background-color: #FAF9FA;
display: flex;
flex-direction: row;
}

.container__cards {
  margin-right: 20px;
  margin-top: 30px;
}

.long__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.long__title > h2 {
  font-size: 30px;
  font-weight: 700;
  color: #635463;
}

.long__title > img {
  height: 30px;
  width: auto;
  margin: 5px;
}

.articles__small {
  margin-top: 15px;
}
